@import "tailwindcss";
@import "@glidejs/glide/dist/css/glide.core.min.css";



@font-face {
  font-family: fira;
  src: url(./assets/Fonts/Fira_Code/static/FiraCode-Medium.ttf);
}
@font-face {
  font-family: inter;
  src: url(./assets/Fonts/Inter/static/Inter_28pt-Regular.ttf);
}
@font-face {
  font-family: monsterrat;
  src: url(./assets/Fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: monsterratBold;
  src: url(./assets/Fonts/Montserrat-ExtraBold.ttf);
}
@font-face {
  font-family: monsterratLight;
  src: url(./assets/Fonts/Montserrat-Light.ttf);
}
@font-face {
  font-family: monsterratELight;
  src: url(./assets/Fonts/Montserrat-ExtraLight.ttf);
}


@theme {
  /* custom fonts */

  --font-primary1: inter, "monospace";
  --font-secondary: fira, "sans-serif";
  --font-primary: monsterrat, "sans-serif";
  --font-primaryBold: monsterratBold, "sans-serif";
  --font-primaryLight: monsterratLight, "sans-serif";
  --font-primaryELight: monsterratELight, "sans-serif";

  /* custom colors */
  --color-primary: #213448;
  --color-primary-hover: #facc15	;
  --color-primaryText: #0065f8;



  --inset-md: 'inset-md': 'inset 10px 20px 20px rgba(0,0,0,0.1)';

  --no-scrollbar: '-webkit-scrollbar'
}

*{
  /* font-family: var(--font-primary); */
}


.hero{
  background-attachment: fixed;
}

@keyframes zoomOut {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.zoom-animate {
  animation: zoomOut 1.5s ease-out forwards;
}

.glide__slide {
  opacity: 0.9;
  transition: opacity 0.5s ease-in-out !important;
}
.glide__slide:hover{
  opacity: 1;
}


/* src/index.css (or similar global CSS file) */

/* Add these lines to hide the scrollbar while keeping scroll functionality */
.hide-scrollbar::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

.hide-scrollbar {
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
    scrollbar-width: none;  /* For Firefox */
}